@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  /* Colors */
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #023A14;
  --color-secondary: #E28F2A;
  --color-text: #121412;
  --color-bg: #EFEFEF;
  --color-text-50: #12141250;
  /* Fonts */
  --font-noto: 'Noto Serif', serif;
  --font-inter: 'Inter', sans-serif;
}

@import "tailwindcss";

@tailwind utilities;

/* Apply theme variables */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-inter);
}

.font-noto {
  font-family: var(--font-noto);
}

.font-inter {
  font-family: var(--font-inter);
}

/* Color utility classes */
.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-bg {
  color: var(--color-bg);
}

.text-text {
  color: var(--color-text);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-bg {
  background-color: var(--color-bg);
}

.bg-text {
  background-color: var(--color-text);
}

.bg-text-50 {
  background-color: var(--color-text-50);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}